<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to the SetList App!</h1>
</div>

<% if !(Current.user && Current.user.spotify_accounts) %>
  <%= button_to "Connect Spotify", "/auth/spotify", data: { turbo: "false" }, method: :post, class: "btn btn-primary"%>
<% else %>
  <% @playlists.daily_playlists.each do |playlist| %>
    <h3><%= link_to playlist.name, playlist.playlist_link, target: :_blank %></h3>
    <p>by: <%= playlist.owner %><br>
      <%= link_to "tracks", url: playlist.tracks_link %>
    </p>
  <% end %>
<% end %>
