<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to the SetList App!</h1>
</div>

<%= button_to "Connect Spotify", "/auth/spotify", data: { turbo: "false" }, method: :post, class: "btn btn-primary"%>